
<p><%= link_to "Back to List", admin_clients_path %>  </p>
<br />
<p>Name: <%= @client.title %></p>
<p>Url: <%= @client.url %></p>
<p>Sequence: <%= @client.sequence %></p>
<p><%= link_to "Edit", edit_admin_client_path(@client) %></p>

