<div class="row-fluid">
  <div class="portfolio-links">
<div class="portfolio-link span3"  >
  <a href="<%= portfolio_path("interiors") %>"><span>Interior<span class="last">s</span></span>
  <%= image_tag 'pastry.jpg', :alt => 'Interiors' %>      </a>
</div>
  <div class="span1 spacer"></div>
<div class="portfolio-link span3">
  <a href="<%= portfolio_path("food") %>"><span>Foo<span class="last">d</span></span>
  <%= image_tag 'figs.jpg', :alt => 'Food' %>  </a>
</div>
  <div class="span1 spacer"></div>
<div class="portfolio-link span3">
  <a href="<%= portfolio_path("featured") %>"><span>Feature<span class="last">d</span></span>
  <%= image_tag 'coffee.jpg', :alt => 'Food' %>   </a>
</div>
</div>
</div>