<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"
        xmlns="http://www.w3.org/1999/html"></script>
<%= javascript_include_tag "widgets/portfolio" %>
<%= javascript_include_tag "widgets/jquery.easing.1.3" %>
<script type="text/javascript">
  $(function(){
     $('.portfolio').portfolio({width:913});
  })
</script>
<div class="portfolio">
<div class="portfolio-slider">
  <div class="portfolio-left"><a title="previous" href="#"><i class='icon-step-backward'></i></a></div>
  <div class="portfolio-container">
  <ul>
    <% photoCount = 0
       pfId = params[:id]
       if pfId.respond_to?('downcase') && pfId.downcase == 'featured' %>
        <li class="image">
          <div>
        <%= render 'shared/clientlist' %>      </div>
          <% #image_tag 'article.jpg' %>

    <%  photoCount = 1
       end %>

<% @photos.each do |p| %>
        <% if photoCount < 1 %>
            <li class="image <%= p.horizontal ? 'image-horizontal' : '' %> ">
        <% end
           photoCount += 1
        %>     <div>
        <%= image_tag p.url, :alt => p.title %>       </div>
        <% if photoCount == 2 || p.horizontal
                photoCount = 0
        %>
            </li>
        <% else
           end  %>

<% end %>
  </ul>
  </div>
  <div class="portfolio-right"><a title="next" href="#"><i class='icon-step-forward'></i></a></div>
  <div style="clear:both"></div>
</div>
<div class="portfolio-pager"></div>
</div>