<div class="row-fluid">
  <div class="span12">
    <div class="featured-area">
<p><%= link_to "Back to List", admin_photos_path %>  </p>
<br />

<%= form_for [:admin, @photo], :html => { :enctype => "multipart/form-data"} do |f| %>


    <%= label_tag(:picture, "Update image:") %>
    <%= f.file_field :picture, 'required' => '' %>
    <br />
    <%= submit_tag("Update") %>
<% end %>

      <div class="text-column">
<%= image_tag @photo.url, :alt => @photo.title %>

        <p><%= link_to "Perma Delete", admin_photo_path(@photo), :method => :delete, :class => 'btn btn-danger' %></p>
        </div>
      </div>
      </div>
    </div>