
<p><%= link_to "Back to List", admin_photos_path %>  </p>
<br />

<%= form_for [:admin, @photo] do |f| %>

    <%= label_tag(:title, "Short title:") %>
    <%= f.text_field :title, 'required' => '' %>
    <%= label_tag(:portfolio, "Portfolio:") %>
    <%= f.select :portfolio, %w[food] %>
    <%= label_tag(:sequence, "Order of the image on the page:") %>
    <%= f.number_field :sequence, {:min=> 0, :step => 1} %>
    <%= label_tag(:visible, "Should the image be shown:") %>
    <%= f.check_box :visible %>
    <%= label_tag(:horizontal, "Is the image horizontal:") %>
    <%= f.check_box :horizontal %>
    <%= label_tag(:url, "Photo Location:") %>
    <%= f.text_field :url %>
    <br />
    <%= submit_tag("Update") %>
<% end %>

<%= image_tag @photo.url, :alt => @photo.title %>