<!DOCTYPE html>
<html>
<head>
  <title>Victoria Harley Photography</title>


  <%= stylesheet_link_tag    "application", :media => "all" %>

  <!--[if lt ie 9]>
  <%= javascript_include_tag "ltie9/html5shiv" %>
  <![endif]-->
  <%= javascript_include_tag "all/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="necessarycontainertomakefullheight">
  <div class="interiorContainerControlsWidth">
    <%= render 'shared/header' %>

      <div class="side">
        <%= render 'shared/menu' %>
      </div>
    <div class="central">
      <div class="inner">
        <%= yield %>
      </div>
    </div>
    </div>
</div>
</body>
</html>
