<!DOCTYPE html>
<html>
<head>
  <title>Victoria</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="home">

<div class="necessarycontainertomakefullheight">
<div class="image_wrapper">
</div>
<%= render 'shared/header' %>
<%= render 'shared/menu' %>
<%= yield %>
  <div class="clear"></div>
</div>
</body>
</html>